<!DOCTYPE html>
<html lang="de">
<link rel="stylesheet" href="/static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Seite nicht gefunden</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
<div class="card">
    <h1>404</h1>
    <p>Die Seite, die du suchst, existiert nicht.</p>
    <button onclick="window.location='/'">Zur Startseite zurückkehren</button>
</body>
